body{
    background-color: #393E46;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    al
}
.dice{
    display: inline-block;
    text-align: center;
}

h1{
    font-family: cursive;
    margin: 30px;
    text-shadow: 3px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
}

p{
    margin: 30px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 50%;
}